<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/....">
</head>

<body>
  {{#if isShowing}}
    {{> title}}
  {{/if}}

  {{#if message}}
    <p>{{message.message}}</p>
  {{else}}
    {{#each movies}}
      {{> card}}
    {{/each}}
  {{/if}}

</body>
</html>